@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Manrope", "sans-serif";

  --color-custom-purple: #8234E9;
  --color-custom-black: #121214;
  --color-custom-gray: #A3A3A3;
  --color-custom-dark: #1A1A1E;
}